.dark{
  background-color: black;
  color: #fff;
}

.list-group{
  display: none;
}

.list-group.show{
  display: block;
}

.modal__bg{
  width: 100%;
  height: 100%;
  top: 0;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5;
  padding: 30px;
  visibility: hidden;
  opacity: 0; 
  transition: all 0.5s;  
}

.modal__show{
  visibility: visible;
  opacity: 1;
}
.modal__popup{  
  border-radius: 5px;  
  width: 300px;
  height: 250px;
  background-color: #fff;
  padding: 30px;
}

.badge{
  cursor: pointer;
}

