.dark{
  background-color: black;
  color: #fff;
}
.navbar{
  position: fixed;
  width: 100%;
  z-index: 5;
}


.greeting{
  width: 100vw;
  height: 200px;
  background-color:#e6e6e6;
  padding: 20px;
}

.hello{
  font-size: 24px;
  font-weight: bold;
}
.login__btn{
  width: 100px;
  height: 40px;
  border-radius: 10px;
  background-color: #FF4949;
  color: #fff;
  border: none;
}

.list-group{
  display: none;
}

.list-group.show{
  display: block;
}

.modal__bg{
  width: 100%;
  height: 100%;
  top: 0;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5;
  padding: 30px;
  visibility: hidden;
  opacity: 0; 
  transition: all 0.5s;  
}

.modal__show{
  visibility: visible;
  opacity: 1;
}
.modal__popup{  
  border-radius: 5px;  
  width: 300px;
  height: 250px;
  background-color: #fff;
  padding: 30px;
}

.badge{
  cursor: pointer;
}

/* Carousel */
.slide__wrap{
  overflow: hidden;
}
.slide__container{
  width: 300vw;  
  transition: all 1s;
  list-style: none;
}
.slide_box{
  width: 100vw;
  float: left;
}
.slide_box img{
  width: 100%;
}