.dark{
  background-color: rgb(34, 34, 34);
  color: #fff;
}
.navbar{
  position: fixed;
  width: 100%;
  z-index: 5;
  padding-bottom: 0;
}
.navbar-brand{
  font-size: 25px;
}
.scroll-line{
  width: 100%;
  height: 3px;
  position: relative;
  background: #eee;
  bottom: 0;
}

.scroll-fill{
  width: 10%;  
  height: 3px;
  background-color: black;  
}


.greeting{
  width: 100vw;
  height: 200px;
  background-color:#e6e6e6;
  padding: 20px;
  padding-top: 67px;

}

.hello{
  font-size: 24px;
  font-weight: bold;
}
.login__btn{
  width: 100px;
  height: 40px;
  border-radius: 10px;
  background-color: #FF4949;
  color: #fff;
  border: none;
}

.list-group{
  display: none;
  padding-top: 60px;
}

.list-group.show[data-tab-content]{
  display: block;
}

.modal__bg{
  width: 100%;
  height: 100%;
  top: 0;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5;
  padding: 30px;
  visibility: hidden;
  opacity: 0; 
  transition: all 0.5s;  
}

.modal__show{
  visibility: visible;
  opacity: 1;
}
.modal__popup{  
  border-radius: 5px;  
  width: 300px;
  height: 250px;
  background-color: #fff;
  padding: 30px;
}

.badge{
  cursor: pointer;
}

/* Carousel */
.slide__wrap{
  overflow: hidden;
}
.slide__container{
  width: 300vw;  
  transition: all 1s;
  list-style: none;
}
.slide_box{
  width: 100vw;
  float: left;
}
.slide_box img{
  width: 100%;
}

.manual{
  width: 400px;
  height: 200px;
  overflow-y: scroll;
}

/* Detail */
ul.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #ccc;
}
ul.list::after {
  content: '';
  display: block;
  clear: both;
}
.list li{
  display: block;
  padding: 10px 20px 10px 20px;
  float: left;
  margin-right: -1px;
  margin-bottom: -1px;
  color: grey;
  text-decoration: none;
  cursor: pointer;
}
.orange {
  border-top: 2px solid orange;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid white;
  border-left: 1px solid #ccc;
  color: black;
  margin-top: -2px;
}
.tab-content {
  display: none;
  padding: 10px;
}
.show {
  display: block;
}